# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Npgsql.BulkCopy/.vs/Npgsql.BulkCopy.Forked/v15/.suo
Npgsql.BulkCopy/.vs/Npgsql.BulkCopy.Forked/v15/Solution.VC.db
Npgsql.BulkCopy/.vs/Npgsql.BulkCopy.Forked/v15/Solution.VC.db-shm
Npgsql.BulkCopy/.vs/Npgsql.BulkCopy.Forked/v15/Solution.VC.db-wal
Npgsql.BulkCopy/Versions/.vs/Versions/v15/.suo
Npgsql.BulkCopy/Versions/.vs/Versions/v15/Solution.VC.db
Npgsql.BulkCopy/Versions/.vs/Versions/v15/Solution.VC.db-shm
Npgsql.BulkCopy/Versions/.vs/Versions/v15/Solution.VC.db-wal
Npgsql.BulkCopy/Versions/PgCPP.DLL.9.x/.vs/PgCPP.DLL.9.x/v15/.suo
Npgsql.BulkCopy/Versions/PgCPP.DLL.9.x/.vs/PgCPP.DLL.9.x/v15/Browse.VC.db
Npgsql.BulkCopy/Versions/PgCPP.DLL.9.x/.vs/PgCPP.DLL.9.x/v15/ipch/AutoPCH/PGCPP.DLL.9.X-fd792b00/DLLMAIN-9741f3e7/DLLMAIN.ipch
Npgsql.BulkCopy/Versions/PgCPP.DLL.9.x/.vs/PgCPP.DLL.9.x/v15/ipch/PGCPP.DLL.9.X-fd792b00/PGCPP.DLL.9.ipch
Npgsql.BulkCopy/Npgsql.BulkCopy/.vs/Npgsql.BulkCopy.Forked/v15/.suo
Npgsql.BulkCopy/Versions/PgCPP.DLL.8.x/PgCPP.DLL.8.x.vcxproj.user
Npgsql.BulkCopy/Versions/PgCPP.DLL.9.x/PgCPP.DLL.9.x.vcxproj.user
